:root {
  --clr-primary: hsl(10, 79%, 65%);
  --clr-secondary: hsl(186, 34%, 60%);
  --clr-neutral-800: hsl(25, 47%, 15%);
  --clr-neutral-600: hsl(28, 10%, 53%);
  --clr-neutral-400: hsl(27, 66%, 92%);
  --clr-neutral-200: hsl(33, 100%, 98%);

  --ff-sans: "DM Sans", sans-serif;

  --mobile: 375px;
  --desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--ff-sans);
  font-size: 1.125rem;
  background-color: var(--clr-neutral-400);
}
h2,
h3,
p {
  margin: 0;
}
section {
  width: calc(100% - 2rem);
  max-width: 40rem;
  margin-inline: auto;
}
hr {
  margin-block: 2rem;
}
h3 {
  font-weight: normal;
  font-size: 1rem;
  margin-block: 0.5rem;
}

.balance {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-200);
  margin-block: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}
.spending {
  background-color: var(--clr-neutral-200);
  padding: 2rem;
  border-radius: 1rem;
}

.total-balance {
  font-size: 2rem;
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}
.col {
  text-align: center;
  width: 100%;
}
.bar {
  height: 5rem;
  width: 67%;
  margin-inline: auto;
  background-color: var(--clr-primary);
  border-radius: 0.25rem;
}
.bar[data-max="true"] {
  background-color: var(--clr-secondary);
}
.tooltip {
  display: none;
}
.spending-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.spending h3 {
  color: var(--clr-neutral-600);
}
.percent-change {
  text-align: right;
}
.total-spending {
  font-size: 2.5rem;
  font-weight: bold;
}

footer {
  margin: 1rem;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 81.25em) {
  .tooltip {
    display: block;
    padding: 0.5rem;
    width: min-content;
    margin: 0.5rem auto;
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-200);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 150ms linear;
  }
  .col:hover .tooltip {
    opacity: 1;
  }
  .col:hover .bar {
    opacity: 0.75;
  }
}
